@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Marck+Script&display=swap');

.App {
  background-image: linear-gradient(to top, #151515, white) ;
  /* background-color: #d6d6d6; */
  margin: 0;
  font-family: 'Forum', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  text-decoration: none;
  width: 100%;
}
